<section id="downloads" class="wrapper clearfix">
  <h2>Download Dangerzone {{ version }}</h2>
  🔍 <a href="https://github.com/freedomofpress/dangerzone/blob/v{{ version }}/INSTALL.md#verifying-pgp-signatures">How to verify</a>
  </br>
  <div class="os-download-container">
    <div class="osPrimary">
      <img src="/assets/img/apple-logo.png" alt="Apple Logo">
      <p class="title">MacOS</p>
        <a class="button"
            href="https://github.com/freedomofpress/dangerzone/releases/download/v{{ version }}/Dangerzone-{{ version }}-i686.dmg">Intel chip</a>
        <a class="button"
        href="https://github.com/freedomofpress/dangerzone/releases/download/v{{ version }}/Dangerzone-{{ version }}-arm64.dmg">Apple Silicon chip</a>
        <p class="cpu-arch-info">&#8505;&#65039;
          <a href="https://support.apple.com/en-us/HT211814">Which one do I have?</a>
        </p>
    </div>
    <div class="osPrimary">
      <img src="/assets/img/windows-logo.png" alt="Windows Logo">
      <p class="title">Windows</p>
      <a class="button"
        href="https://github.com/freedomofpress/dangerzone/releases/download/v{{ version }}/Dangerzone-{{ version }}.msi">Download for
        Windows</a>
        <p class="cpu-arch-info">&#65039; <!-- invalid emoji to display same-height whitespace as macOS -->
          <p></p>
        </p>
    </div>
  </div>
  <div class="os-download-container">
    <div class="osSecondary">
      <img src="/assets/img/ubuntu-logo.png" alt="Ubuntu Logo">
      <p class="title">Ubuntu / Debian</p>
      <a class="button"
        href="https://github.com/freedomofpress/dangerzone/blob/v{{ version }}/INSTALL.md#ubuntu-debian">Install</a>
    </div>
    <div class="osSecondary">
      <img src="/assets/img/fedora-logo.png" alt="Fedora Logo">
      <p class="title">Fedora</p>
      <a class="button"
        href="https://github.com/freedomofpress/dangerzone/blob/v{{ version }}/INSTALL.md#fedora">Install</a>
    </div>
    <div class="osSecondary">
      <img src="/assets/img/tails-logo.svg" alt="Tails Logo">
      <p class="title">Tails</p>
      <a class="button" href="https://tails.net/doc/persistent_storage/additional_software/dangerzone/index.en.html">Install</a>
    </div>
    <div class="osSecondary">
      <img src="/assets/img/linux-logo.png" alt="Linux Logo">
      <p class="title">Other Linux</p>
      <a class="button" href="https://github.com/freedomofpress/dangerzone/blob/main/BUILD.md">Build from Source</a>
    </div>
    <div class="osSecondary">
      <img src="/assets/img/qubes-os-logo.png" alt="Qubes OS Logo">
      <p class="title">Qubes OS (Beta)</p>
      <a class="button" href="https://github.com/freedomofpress/dangerzone/blob/v{{ version }}/INSTALL.md#qubes-os">Install</a>
    </div>
  </div>
</section>