<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title | default("Dangerzone: Convert potentially dangerous documents into safe PDFs") }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <meta name="description"
    content="Take potentially dangerous PDFs, office documents, or images and convert them to a safe PDF.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Dangerzone">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/assets/img/logo.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="300">
  <meta property="og:image:height" content="300">
  <meta property="og:url" content="https://dangerzone.rocks">
  <meta property="og:description"
    content="Take potentially dangerous PDFs, office documents, or images and convert them to a safe PDF.">
  <link rel="alternate" type="application/rss+xml" title="Dangerzone news feed" href="/feed.xml" />
  <script src="/assets/js/nav.js">
</head>

<body>
<header>
  <input type="checkbox" id="nav-toggle" class="nav-toggle-checkbox" hidden aria-hidden="true">

  <label for="nav-toggle" class="nav-toggle-label" aria-label="Toggle navigation" tabindex="0">
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
  </label>

  <nav class="main-nav clearfix" id="main-nav">
    <div class="nav-content">
      <ul>
        {% set navItems = [
          {url: '/', title: 'Main Page'},
          {url: '/about/', title: 'About'},
          {url: '/journalists/', title: 'For Journalists'},
          {url: '/news/', title: 'News'},
          {url: 'https://github.com/freedomofpress/dangerzone/issues', title: 'Report an Issue', external: true},
          {url: 'https://github.com/freedomofpress/dangerzone', title: 'Code', external: true},
          {url: 'https://social.freedom.press/@dangerzone', title: 'Mastodon', external: true, relMe: true}
        ] %}

        {% for item in navItems %}
          <li {% if page.url == item.url %} class="is-active" {% endif %}>
            {% if page.url == item.url %}
              {{ item.title }}
            {% else %}
              <a href="{{ item.url }}"
                 {% if item.external %}target="_blank"{% endif %}
                 {% if item.relMe %}rel="me"{% endif %}
              >{{ item.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <label for="nav-toggle" class="nav-overlay" aria-label="Close navigation"></label>

</header>
  <main>
  {{ content | safe | indent(4)}}
  </main>
  <footer>
    <div class="wrapper" id="features">
      <div class="feature">
        <p>Dangerzone is a <a href="https://freedom.press/">Freedom of the Press Foundation</a> project and
          is open source, released under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3 license</a></p>
      </div>
      <div class="feature">
        <p>Dangerzone release signing key (not for communication)</p>
        <p><a href="https://keys.openpgp.org/vks/v1/by-fingerprint/DE28AB241FA48260FAC9B8BAA7C9B38522604281">DE28 AB24 1FA4 8260 FAC9 B8BA A7C9 B385 2260 4281</a></p>
      </div>
    </div>
  </footer>

</body>

</html>
