<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title | default("Dangerzone: Convert potentially dangerous documents into safe PDFs") }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <meta name="description"
    content="Take potentially dangerous PDFs, office documents, or images and convert them to a safe PDF.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Dangerzone">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/assets/img/logo.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="300">
  <meta property="og:image:height" content="300">
  <meta property="og:url" content="https://dangerzone.rocks">
  <meta property="og:description"
    content="Take potentially dangerous PDFs, office documents, or images and convert them to a safe PDF.">
</head>

<body>
  <header {% if page.url == '/' %}class="index-header"{% endif %}>
    <nav class="clearfix">
      <ul>
        {# TODO:  We should have more sophisticated nav handling than this #}
        {% if page.url == '/' %}
          <li>Main Page</li>
        {% else %}
          <li><a href="/">Main Page</a></li>
        {% endif %}

        {% if page.url == '/about/' %}
          <li>About</li>
        {% else %}
          <li><a href="/about/">About</a></li>
        {% endif %}
        
        <li><a href="https://github.com/freedomofpress/dangerzone/issues?state=open" target="_blank">Report an Issue</a>
        </li>
        <li><a href="https://github.com/freedomofpress/dangerzone" target="_blank">Code</a></li>
        <li><a href="https://fosstodon.org/@dangerzone" target="_blank" rel="me">Follow on Mastodon</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <div class="wrapper" id="features">
      <div class="feature">
        <p>Dangerzone is a <a href="https://freedom.press/">Freedom of the Press Foundation</a> project and
          is open source, released under the MIT license</p>
      </div>
      <div class="feature">
        <p>Dangerzone release signing key (not for communication)</p>
        <p><a href="https://keys.openpgp.org/vks/v1/by-fingerprint/DE28AB241FA48260FAC9B8BAA7C9B38522604281">DE28 AB24 1FA4 8260 FAC9 B8BA A7C9 B385 2260 4281</a></p>
      </div>
    </div>
  </footer>
</body>

</html>
