---
layout: base.njk
---

<div id="intro">
  <div class="wrapper">
    <img src="assets/img/logo.png" title="Dangerzone">
    <h1>Dangerzone</h1>
    <p class="title">Take potentially dangerous PDFs, office documents, or images and convert them
      to safe PDFs.</p>

    <a class="buttonPrimary" href="#downloads">Download</a>

    <a class="button" href="about/" class="buttonSecondary" rel="noreferrer noopener">Learn More</a>
  </div>
</div>
<section class="wrapper" id="features">
  <div class="feature">
    <p class="title">🦠 Removes malware</p>
    <p>Dangerzone renders your document into pixels in a secure sandbox and reconstructs it as a PDF locally. All malware gets destroyed in the process.</p>
  </div>
  <div class="feature">
    <p class="title">🗋 Wide file type support</p>
    <p>Dangerzone supports more than 20 file types, including PDFs, all major office-suite formats, and the most common image types.</p>
  </div>
  <div class="feature">
    <p class="title">🔌 No network access</p>
    <p>Documents are sanitized in a sandbox that doesn't have network access, so if a malicious document
      can compromise one, it can't phone home.</p>
  </div>
  <div class="feature">
    <p class="title">🫴 A public good </p>
    <p>Dangerzone is a free and open source project, maintained by <a href="https://freedom.press">Freedom of the Press Foundation</a>, a non profit organization that protects and defends press freedom.</p>
  </div>
</section>

{% set version = collections.posts | getLatestVersion %}
{% if version %}
  {% include "./_includes/downloads.njk" %}
{% endif %}

<section class="wrapper" id="news">
  <h2>How It Works</h2>
  <div class="clearfix">
    <p>Dangerzone works like this: You give it a document that you don't know
      if you can trust (for example, an email attachment). Inside of a sandbox,
      Dangerzone converts the document to a PDF (if it isn't already one), and
      then converts the PDF into raw pixel data: a huge list of of RGB color
      values for each page. Then, Dangerzone takes this pixel data and converts
      it back into a PDF.</p>
    <p><a href="about/">Learn more</a></p>
  </div>
</section>
