---
layout: base.njk
---

<div id="intro">
  <div class="wrapper">
    <img src="assets/img/logo.png" title="Dangerzone">
    <h1>Dangerzone</h1>
    <p class="title">Take potentially dangerous PDFs, office documents, or images and convert them
      to safe PDFs.</p>

    <a class="buttonPrimary" href="#downloads">Download</a>

    <a class="button" href="about/" class="buttonSecondary" rel="noreferrer noopener">Learn More</a>
  </div>
</div>
<section class="wrapper" id="features">
  <div class="feature">
    <p class="title">No Network Access</p>
    <p>Sandboxes don't have network access, so if a malicious document
      can compromise one, it can't phone home</p>
  </div>
  <div class="feature">
    <p class="title">Optional OCR</p>
    <p>Dangerzone can optionally OCR the safe PDFs it creates, so it
      will have a text layer again</p>
  </div>
  <div class="feature">
    <p class="title">Reduced File Size</p>
    <p>Dangerzone compresses the safe PDF to reduce file size</p>
  </div>
  <div class="feature">
    <p class="title">Open Docs Safely</p>
    <p>After converting, Dangerzone lets you open the safe PDF in the PDF
      viewer of your choice, which allows you to open PDFs and office docs
      in Dangerzone by default so you never accidentally open a dangerous document</p>
  </div>
</section>

{% set version = site.version %}
{% include "./_includes/downloads.njk" %}

<section class="wrapper" id="news">
  <h2>How It Works</h2>
  <div class="clearfix">
    <p>Dangerzone works like this: You give it a document that you don't know
      if you can trust (for example, an email attachment). Inside of a sandbox,
      Dangerzone converts the document to a PDF (if it isn't already one), and
      then converts the PDF into raw pixel data: a huge list of of RGB color
      values for each page. Then, Dangerzone takes this pixel data and converts
      it back into a PDF.</p>
    <p><a href="about/">Learn more</a></p>
  </div>
</section>