---
name: Publish

on:
  push:
    branches: ["main"]

env:
  DEFAULT_BRANCH: main

jobs:
  build:
    name: Build
    uses: freedomofpress/actionslib/.github/workflows/oci-build.yaml@main
    permissions:
      contents: read
      actions: read
      packages: write
    with:
      context: "."
      containerfile: deploy/Dockerfile
      registry: ghcr.io/freedomofpress/dangerzone-rocks
      add-branch-tags: true
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}
